{% extends "layout.html" %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let aList = document.querySelectorAll("a.channel");
            aList.forEach(element => {
                element.addEventListener('click', () => {
                    let link = element.getAttribute("href");
                    localStorage.setItem("currentChanel", link[13]);
                });
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="list-group" style="margin-right: 60%; margin-left: 10%; margin-bottom: 4%; margin-top: 1%">
        <h2><span class="bd-content-title">当前频道列表：</span></h2>
        {% for channel in channels %}
            <a href="{{ url_for("channels_view", ch=channel.index) }}"
               class="list-group-item list-group-item-action list-group-item-{{ ["primary","secondary","success", "danger", "warning", "info", "light", "dark"]|random() }}">{{ channel.name }}</a>
        {% endfor %}
    </div>
{% endblock %}