{% extends "layout.html" %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let aList = document.querySelectorAll("a.channel");
            aList.forEach(element => {
                element.addEventListener('click', () => {
                    let link = element.getAttribute("href");
                    localStorage.setItem("currentChanel", link[13]);
                });
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="hero-body">
        <div class="container" style="width: 50%">
            <blockquote class="blockquote text-center" style="padding-top: 20px">
                <p class="mb-0">欢迎！</p>
                <p>在下方任意输入你想要创建的
                    <mark>频道名</mark>
                    !
                </p>
            </blockquote>
            <form action="/create_channel" method="post" class="field has-addons">
                <div class="input-group mb-3 mx-3 control">
                    <input type="text" class="form-control input" placeholder="输入频道名..."
                           id="channel_name" name="channel_name" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2 send"
                                name="send">提交
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
