{% extends "layout.html" %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            let socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port),
                loginForm = document.getElementById('login_form');

            if (localStorage.getItem("nickname") !== null) {
                const nickname = localStorage.getItem("nickname");
                console.log("nickname in localStorage:", nickname);
                loginForm.nickname.value = nickname;
            }

            loginForm.addEventListener('button', event => {
                event.preventDefault();
                let nickname = loginForm.nickname.value,
                    channelIndex = loginForm.channel.selectedIndex;
                localStorage.setItem("nickname", nickname);
                localStorage.setItem("currentChanel", channelIndex);
                loginForm.submit();
            });
        });
    </script>
{% endblock %}
{% block body %}
    <section id="login" class="hero is-info is-medium">
        <div class="hero-body">
            <div class="container">
                <blockquote class="blockquote text-center" style="padding-top: 20px">
                    <p class="mb-0">欢迎登入！</p>
                    <p>在下方任意输入你想要的用户名！
                        <mark>尝试一下</mark>
                        !
                    </p>
                </blockquote>
                <form action="/" method="post" class="field has-addons" id="login_form">
                    <div class="input-group mb-3 mx-3 control">
                        <input type="text" class="form-control input"
                               placeholder="输入用户名..." name="nickname"
                               id="nickname" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2 send"
                                    name="send" value="Connect">Button
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}